.a{
   
    font-size: 70px;
    color:green;
    margin-left: 30px;
}

.card{
    width: 350px;
}

input{
    font-size:40px;
    position: absolute;
    top: 320px;
    left: 40px;
}
